body {
    background-color: rgb(7, 26, 43);
}

* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    background-color:rgb(247, 237, 222);
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.start-btn {
    background-color:antiquewhite;
    font-size: 20px;
    cursor:pointer;
    margin-top: 20px;
    margin-left: 41%;
    padding-left:3%;
    padding-top:1%;
    padding-bottom:1%;
    padding-right:3%;
}

.container {
    color: white;
    border-radius: 5px;
    background-color: rgb(7, 26, 43);
    padding-top: 90px;
    padding-left: 25px;
    padding-right: 25px;
}